.link {
  color: #ffffff;
  text-decoration: none;
  margin: 0px 10px;
}

.card {
  margin-bottom: 20px;
  padding: 5px;
}

.long-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

label {
  margin: 0px 5px;
}

.m-5 {
  margin: 5px !important;
}
